nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 1rem;
    column-gap: 2rem;
    background-color:black;
}

.titolo {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.logo {
    height: 70px;
    padding: 10px;
}